@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #333;
  background: #f8f8f8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

#root {
  display: flex;
  justify-content: center;
}

#App {
  position: absolute;
  width: 100vw;
  max-width: 900px;
  min-height: 100vh;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only Screen and (min-width: 400px) {
  #App {
    padding: 5vh 0;
  }
}
@media only Screen and (min-width: 540px) {
  #App {
    padding: 5vh 0;
  }
}
.banner {
  height: 8.5rem;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.banner__head {
  font-family: "Roboto Slab";
  font-size: 2rem;
  font-weight: 700;
}
.banner__subhead {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.banner-pop .menubar:after {
  transform: scale(3, 500);
}
.banner-pop .menubar:before {
  opacity: 1;
}
.banner-pop .menubar__btn:after {
  background: #f8f8f8;
}

.menubar {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}
.menubar:after, .menubar:before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background: #b1efd8;
  transition: all 0.15s ease-in-out;
  z-index: -2;
}
.menubar:before {
  background: #f8f8f8;
  z-index: -1;
  opacity: 0;
}
.menubar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 20%;
  color: #333;
  text-decoration: none;
  box-shadow: 0;
  transition: all 0.3s;
}
.menubar__btn:after {
  position: absolute;
  display: block;
  content: "";
  height: 10px;
  width: 80px;
  opacity: 0;
  background: #b1efd8;
  transform: translateY(20px) scaleX(0);
  transition: all 0.2s;
  z-index: -1;
}
.menubar__btn:hover:after {
  opacity: 1;
  transform: translateY(7px) scaleX(1);
}

.blog {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__card {
  max-width: 80ch;
  margin: 10px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
}
.blog__card:hover {
  box-shadow: 2px 2px 0 2px #b1efd8;
}
.blog__title {
  margin-bottom: 5px;
  color: #b1efd8;
  text-transform: uppercase;
  font-weight: 800;
}
.blog__description {
  margin-bottom: 5px;
}
.blog__length, .blog__date {
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
  color: #999;
}
.blog__length {
  margin-bottom: 0;
  align-self: flex-end;
}

.portfolio {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.portfolio__card {
  min-height: 400px;
  margin: 20px 0;
  padding: 15px 20px;
  box-shadow: 2px 2px 0 2px #b1efd8;
  display: flex;
}

.card__image {
  flex: 30%;
}
.card__body {
  flex: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__title {
  margin-bottom: 5px;
  color: #b1efd8;
  text-transform: uppercase;
  font-weight: 800;
}

.card__languages{
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
  color: #999;
}

.card__footer{
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.card__button{
  margin: 0 10px;
  height: 15px;
  background: transparent;
  border: none;
  border-radius: 0px;
  font-size: 12px; 
}

.card__button:after{
  position: relative;
  content: '';
  display: block;
  height: 10px;
  width: 120%;
  bottom: 8px;
  left: -10%;
  background: #b1efd8;
  transform: scaleX(0);
  transition: .2s;
  transform-origin: left;
  z-index: -1;
}

.card__button:hover:after{
  transform: scaleX(1);
}
/* # sourceMappingURL=app.css.map */
